@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: 'Lexend', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

dialog {
    width: 500px;
    min-height: 500px;
    padding: 0;
    box-shadow: 0px 0px 7px 5px #9e9e9e40;
    border: 0;
    
}

header button {
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 9px;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

button span.material-icons {
    padding-right: 5px;
}

form {
    padding: 0 30px;
}

input {
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    font-size: 17px;
    border: 1px solid grey;
    box-sizing: border-box;
}

dialog button {
    width: 100%;
    padding: 7px;
    font-size: 20px;
    background: #00800036;
    font-family: 'Lexend', sans-serif;
}
.cross:hover {
    transform: rotate(180deg);
    transition: transform 1s;
}
footer button{
    background: #ff000045;
    width:auto;
    font-family: 'Lexend', sans-serif;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.input-wrapper {
    margin: 15px 0;
    font-size: 20px;
}

.image-icon {
    display: flex;
    justify-content: center;
}

.image-icon img {
    width: 220px;
    margin: 55px 40px;
    margin-left: 85px;
}

footer {
    background: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    border-top: 1px solid #80808063;
}

input[type="checkbox"] {
    width: 20px;
    /* background: chocolate; */
    margin-right: 15px;
}

.remember-me {
    display: flex;
}

.close {
    float: right;
    padding: 10px;
}

.forgot-password {
    font-size: 18px;
}